<!--<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
    [labels]="chartOptions.labels"
    [tooltip]="chartOptions.tooltip"
    [markers]="chartOptions.markers"
    [legend]="chartOptions.legend"
    [annotations]="chartOptions.annotations"
  ></apx-chart>
</div>
-->

1. Graphical Widget , which shows anamoly annotation and on hover - it creates
custom content like tooltip

<app-new-chart></app-new-chart>

<br />
2. Guage widget which displays custom tooltip on hover

<app-c3-guage></app-c3-guage>
<!--<app-mixed-charts></app-mixed-charts> -->
