<div id="chartItem">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
    [labels]="chartOptions.labels"
    [tooltip]="chartOptions.tooltip"
    [markers]="chartOptions.markers"
    [legend]="chartOptions.legend"
    [annotations]="chartOptions.annotations"
  >
  </apx-chart>
</div>

<div #customAnnotation style="display:none">Hi</div>
